.header {
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  width: 20%;
}
.header .logo {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.header .logo .img {
  padding-right: 10px;
}
.header .logo .logo_text {
  display: flex;
  padding-right: 5px;
  font-size: 20px;
  font-weight: 600;
}
.header .menu {
  display: flex;
  flex-direction: column;
  height: 35vh;
  justify-content: space-between;
}
.header .menu .profile {
  display: flex;
  align-items: center;
  padding: 30px;
  width: 200px;
  height: 10px;
  background-color: rgb(241, 249, 241);
  border-bottom-right-radius: 200px;
}
.header .menu .dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header .menu .dashboard .topic {
  padding-bottom: 20px;
}
.header .menu .options .drop_down_ {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}
.header .menu .options .drop_down_ p {
  padding-top: 20px;
  font-size: medium;
  font-weight: 600;
  color: rgb(175, 172, 172);
  cursor: pointer;
}
.header .menu .drop_down_ {
  display: flex;
}
.header .menu .drop_down_ .ddoption1:hover p,
.header .menu .drop_down_ .ddoption1:hover .MuiSvgIcon-root,
.header .menu .drop_down_ .ddoption2:hover p,
.header .menu .drop_down_ .ddoption2:hover .MuiSvgIcon-root,
.header .menu .drop_down_ .ddoption3:hover p,
.header .menu .drop_down_ .ddoption3:hover .MuiSvgIcon-root {
  color: rgb(57, 55, 55);
}
.header .menu .drop_down_ .ddoption1:hover k,
.header .menu .drop_down_ .ddoption1:hover .dd1,
.header .menu .drop_down_ .ddoption1:hover .dd2,
.header .menu .drop_down_ .ddoption1:hover .dd3,
.header .menu .drop_down_ .ddoption2:hover k,
.header .menu .drop_down_ .ddoption2:hover .dd1,
.header .menu .drop_down_ .ddoption2:hover .dd2,
.header .menu .drop_down_ .ddoption2:hover .dd3,
.header .menu .drop_down_ .ddoption3:hover k,
.header .menu .drop_down_ .ddoption3:hover .dd1,
.header .menu .drop_down_ .ddoption3:hover .dd2,
.header .menu .drop_down_ .ddoption3:hover .dd3 {
  background-color: rgb(57, 55, 55);
}
.header .menu .drop_down_ .ddoption1:hover .dd3 .MuiSvgIcon-root,
.header .menu .drop_down_ .ddoption2:hover .dd3 .MuiSvgIcon-root,
.header .menu .drop_down_ .ddoption3:hover .dd3 .MuiSvgIcon-root {
  margin-top: -30px;
}
.header .menu .drop_down_ .ddoption1,
.header .menu .drop_down_ .ddoption2,
.header .menu .drop_down_ .ddoption3 {
  display: flex;
  width: 110px;
  justify-content: space-between;
  align-items: center;
}
.header .menu .drop_down_ .ddoption1 p,
.header .menu .drop_down_ .ddoption2 p,
.header .menu .drop_down_ .ddoption3 p {
  font-size: 18px;
}
.header .menu .drop_down_ .ddoption1 .MuiSvgIcon-root,
.header .menu .drop_down_ .ddoption2 .MuiSvgIcon-root,
.header .menu .drop_down_ .ddoption3 .MuiSvgIcon-root {
  margin-top: 21px;
  margin-left: -15px;
  transform: rotate(90deg);
  color: rgb(239, 235, 235);
}
.header .menu .drop_down_ .ddoption1 .dd1,
.header .menu .drop_down_ .ddoption1 .dd2,
.header .menu .drop_down_ .ddoption1 .dd3,
.header .menu .drop_down_ .ddoption2 .dd1,
.header .menu .drop_down_ .ddoption2 .dd2,
.header .menu .drop_down_ .ddoption2 .dd3,
.header .menu .drop_down_ .ddoption3 .dd1,
.header .menu .drop_down_ .ddoption3 .dd2,
.header .menu .drop_down_ .ddoption3 .dd3 {
  width: 2px;
  height: 30px;
  background-color: rgb(239, 235, 235);
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: -50px;
}
.header .menu .drop_down_ .ddoption1 k,
.header .menu .drop_down_ .ddoption2 k,
.header .menu .drop_down_ .ddoption3 k {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 2px;
  height: 30px;
  background-color: rgb(239, 235, 235);
  transform: rotate(90deg);
}
.header .logo img {
  width: 100px;
  height: 100px;
}
.header .menu topic,
.header .preferences topic {
  font-size: medium;
  font-weight: 600;
  color: rgb(194, 192, 192);
}
.header .menu .appoin icon,
.header .preferences .appoin icon {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition-delay: 100ms;
  color: rgb(57, 55, 55);
}
.header .menu .appoin icon .MuiSvgIcon-root,
.header .preferences .appoin icon .MuiSvgIcon-root {
  padding-right: 15px;
  font-size: 30px;
}
.header .menu .dash_icon,
.header .menu .appointment_icon,
.header .menu .accounts_icon,
.header .menu .preference_icon,
.header .menu .notification_icon,
.header .menu .settings_icon,
.header .menu .help_icon,
.header .preferences .dash_icon,
.header .preferences .appointment_icon,
.header .preferences .accounts_icon,
.header .preferences .preference_icon,
.header .preferences .notification_icon,
.header .preferences .settings_icon,
.header .preferences .help_icon {
  display: flex;
  cursor: pointer;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
}
.header .menu .dash_icon .MuiSvgIcon-root,
.header .menu .appointment_icon .MuiSvgIcon-root,
.header .menu .accounts_icon .MuiSvgIcon-root,
.header .menu .preference_icon .MuiSvgIcon-root,
.header .menu .notification_icon .MuiSvgIcon-root,
.header .menu .settings_icon .MuiSvgIcon-root,
.header .menu .help_icon .MuiSvgIcon-root,
.header .preferences .dash_icon .MuiSvgIcon-root,
.header .preferences .appointment_icon .MuiSvgIcon-root,
.header .preferences .accounts_icon .MuiSvgIcon-root,
.header .preferences .preference_icon .MuiSvgIcon-root,
.header .preferences .notification_icon .MuiSvgIcon-root,
.header .preferences .settings_icon .MuiSvgIcon-root,
.header .preferences .help_icon .MuiSvgIcon-root {
  padding-right: 15px;
  font-size: 30px;
  color: lightgray;
}
.header .preferences {
  display: flex;
  flex-direction: column;
  height: 17vh;
  justify-content: space-between;
}
.header .preferences .change_c {
  display: flex;
  cursor: pointer;
}
.header .preferences .change_c icon .MuiSvgIcon-root {
  padding-right: 15px;
  font-size: 30px;
  color: ligh;
}
.header .preferences .change_c icon,
.header .preferences .change_c h1 {
  font-size: 20px;
  font-weight: 600;
  color: rgb(57, 55, 55);
}
.header .preferences .change_c h1 {
  padding-left: 15px;
}
.header .preferences .option {
  display: flex;
  cursor: pointer;
}
.header .preferences .option .MuiSvgIcon-root {
  font-size: 30px;
  color: lightgray;
}
.header .preferences .option icon,
.header .preferences .option h1 {
  font-size: 17px;
  font-weight: 500;
}
.header .preferences .option h1 {
  padding-left: 15px;
}
.header .profile {
  display: flex;
  padding-bottom: 30px;
}
.header .profile .profile_info {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.header .profile .profile_info name {
  font-size: 17px;
  font-weight: 600;
}
.header .profile .profile_info level {
  font-size: small;
  font-family: 900;
  color: gray;
}
.header .logout {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header .logout .MuiSvgIcon-root {
  transform: rotate(-90deg);
  font-size: 30px;
}
.header .logout p {
  padding-left: 10px;
  font-weight: 600;
  font-size: large;
  color: rgb(94, 93, 93);
}

.handle {
  display: flex;
}
.handle .side_Com {
  width: 78%;
}/*# sourceMappingURL=header.css.map */