.login {
  display: flex;
  height: 100vh;
}
.login .container_1,
.login .container_2 {
  width: 50%;
  height: 100%;
}
.login .container_1 .header_login > logo {
  display: flex;
  align-items: center;
  height: 7vh;
  font-size: large;
  font-weight: 200;
  color: rgb(87, 86, 86);
}
.login .container_1 .header_login > logo text {
  display: flex;
}
.login .container_1 .header_login > logo text p {
  color: #5e0e6d;
  font-weight: 600;
  padding-right: 3px;
}
.login .container_1 .header_login {
  border-bottom: 2px solid rgb(244, 242, 242);
}
.login .container_1 img {
  width: 90px;
}
.login .login_info {
  display: flex;
  height: 92vh;
  justify-content: center;
  align-items: center;
}
.login .info {
  flex-direction: column;
  display: flex;
  height: 45%;
  justify-content: space-between;
}
.login .info .option1 {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login .info .option3 {
  width: 100%;
  border-bottom: 2px solid rgb(240, 238, 238);
  padding-bottom: 20px;
}
.login .info .option3 text {
  display: flex;
  color: #5e0e6d;
  justify-content: end;
  font-weight: 700;
  cursor: pointer;
}
.login .info .option4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login .info .option4 text {
  font-size: medium;
  font-weight: 600;
  color: rgb(76, 69, 69);
}
.login .info .option4 button {
  background-color: #851d97;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  color: white;
  font-size: medium;
  outline-width: 0;
  border: none;
  cursor: pointer;
}
.login .info .option1 .opt1_Com h {
  font-weight: 600;
  font-size: xx-large;
}
.login .info .option1 .opt1_Com p {
  color: gray;
  font-weight: 600;
  width: 90%;
  padding-top: 10px;
}
.login .info .inputs .input_title1,
.login .info .input_title2 text {
  font-weight: 700;
}
.login .info .input_title1,
.login .info .input_title2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.login .info .input_title1 input,
.login .info .input_title2 input {
  border-radius: 5px;
  border: 2px solid rgb(241, 239, 239);
  height: 40px;
  outline-width: 0;
  max-width: 500px;
  width: 50%;
  font-size: medium;
}
.login .info .input_title1 input:focus,
.login .info .input_title2 input:focus {
  border: 2px solid #a68fab;
}
.login .info .input_title1 {
  padding-bottom: 30px;
}

.container_2 {
  background-color: #5e0e6d;
  height: 100vh;
  display: flex;
}
.container_2 .slider {
  display: flex;
  width: 100%;
}
.container_2 .slide {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
}
.container_2 .images .image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_2 .images .image img {
  width: 100%;
  image-rendering: -webkit-optimize-contrast;
  max-width: 80%;
  border-radius: 30px;
}
.container_2 .wesite_info {
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: space-between;
}
.container_2 .wesite_info .infoss {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container_2 .wesite_info .infoss .headerss {
  display: flex;
  justify-content: center;
  font-size: x-large;
  color: white;
  font-weight: 700;
  padding-bottom: 10px;
}
.container_2 .wesite_info .infoss .hos_info p {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: rgb(200, 197, 197);
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}
.container_2 .wesite_info .infoss,
.container_2 .wesite_info .radios {
  display: flex;
  justify-content: center;
}
.container_2 .wesite_info .radios {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.container_2 .wesite_info .radios .radio_btns {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container_2 .wesite_info .radios .radio_btns .radio1 {
  width: 15px;
  border: 0.15em solid red;
  height: 15px;
}
.container_2 .wesite_info .radios button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  font-weight: bold;
  color: #5e0e6d;
  padding: 20px;
  width: 25px;
  background-color: white;
  border: none;
  height: 25px;
  cursor: pointer;
  border-radius: 300px;
  outline-width: 0;
}/*# sourceMappingURL=login.css.map */